body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input, button {
    font-family: inherit;
}

.video_container {
    display: flex;
    flex-direction: column;
    max-width: 210px;
    font-family: 'Roboto', sans-serif;

    .video {
        max-width: 100%;
    }

    .title {
        color: rgb(17, 17, 17);
        margin: 0;
        font-weight: 500;
        padding-top: 5px;
    }

    .meta {
        display: flex;
        flex-direction: column;
        padding-top: 6px;
    }
    .username {
        color: rgba(17, 17, 17, .6);
        font-size: 14px;
    }

    .stats {
        color: rgba(17, 17, 17, .6);    
        font-size: 13px;
    }
}

.playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist {
    padding: 0px 10px;
    position: relative;
    width: 428px;    

    .close-icon {
        height: 24px;
        width: 24px;
        margin-left: 5px;
        fill: rgb( 136, 136, 136);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .title {
            font-weight: 600;
            
            span {
                position: relative;
                left: 3px;
                color: rgba(17, 17, 17, .4);
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        background: white;
        border-radius: 50%;
        fill: rgba(17, 17, 17, .4);        
        width: 40px;
        height: 40px;
        transform: translate(50%, -50%);
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .4);

        svg {
            width: 24px;
            height: 24px;
        }
    }
    .show-more {
        color: rgba(17, 17, 17, .4);
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        margin-top: 30px;
    }
    .videos {
        display: flex;
        margin: 0 -5px; 
        overflow: hidden;
        max-width: 100%;
    }
    .video_container {
        height: 205px;
        width: 210px;
        flex-shrink: 0;
        margin: 0 2.5px;
    }
    i {
        color: rgba(17, 17, 17, .6); 
        cursor: pointer;       
    }
    i:hover {
        color: rgb(17, 17, 17);            
    }

    @media (min-width: 662px) {
        width: 642px;
    }

    @media (min-width: 886px) {
        width: 856px;
    }
    @media (min-width: 1090px) {
        width: 1070px;
    }
    @media (min-width: 1300px) {
        width: 1284px;
    }
}
.recommended {
    .videos:first-of-type {
        margin-bottom: 24px;
    }
}

/* HEADER */
#header {
    color: rgba(17, 17, 17, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    
    .left, .center, .right, .search-field {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left {
        .logo {
            height: 24px;
        }
        .bar-icon {
            font-size: 18px !important;
            margin-right: 16px;
            padding: 8px;
        }
    }
    .center {
        flex: 1;
        padding: 0 15px;
        margin: 0 40px;
        justify-content: flex-start;

        .search-field {
            width: 100%;
            max-width: 656px;
            position: relative;
            height: 32px;
            box-sizing: border-box;
            
            input {
                box-sizing: border-box;            
                width: 100%;
                padding: 6px;
                border-radius: 3px;
                border: solid thin rgba(17, 17, 17, .4);  
                outline: none;
                font-weight: 400;
                font-size: 16px;
            }
            .search-icon {
                box-sizing: border-box;            
                position: absolute;
                right: 0;
                background: rgb(248, 248, 248);
                border: solid thin rgba(17, 17, 17, .4);                         
                border-top: none;                
                border-bottom: none;                
                color: rgb(51, 51, 51);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 96%;
                width: 51px;
                padding: 1px 6px;
                font-size: 13.3333px;
            }
        }

        @media (max-width: 661px) {
            margin: 0;

            .search-field {
                display: none;
            }
        }
    }
    .right {
        font-size: 20px;
        $padding: 10px;
        width: 204px;
        justify-content: space-between;

        
        .search-icon, .upload-icon, .menu-icon, .notification-icon, .profile-icon {
            height: 40px;
            width: 40px;
            padding: $padding;
            display: flex;
            align-items: center;
        }

        .search-icon {
            display: none;
        }
        .profile-icon {
            box-sizing: border-box;
            height: 40px;
            width: 60px;
            padding: $padding;  
            
            img {
                border-radius: 50%;                
                max-width: 100%;
            }
        }

        @media (max-width: 661px) {
            & {
                .search-icon {
                    display: flex;
                }
            }
        }
    }
}

.subscribe-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    width: 151px;
    height: 37px;
}

.flex {
    display: flex;
    align-items: center;
}