$menuWidth: 240px;
$headerHeight: 56px;
 
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input, button {
    font-family: inherit;
}

.video_container {
    display: flex;
    flex-direction: column;
    max-width: 210px;
    font-family: 'Roboto', sans-serif;

    .video {
        max-width: 100%;
    }

    .title {
        color: rgb(17, 17, 17);
        margin: 0;
        font-weight: 600;
        padding-top: 5px;
        font-size: 14px;
    }

    .meta {
        display: flex;
        flex-direction: column;
        padding-top: 6px;
    }
    .username {
        color: rgba(17, 17, 17, .6);
        font-size: 13px;
    }

    .stats {
        color: rgba(17, 17, 17, .6);    
        font-size: 13px;
    }
}

.playlists {
    display: flex;
    flex-direction: column;
    align-items: center;

    .playlist {
        border-bottom: solid thin rgba(0, 0, 0, .04);
        padding-bottom: 10px;
    }

    .playlist:last-child {
        border-bottom: none;
    }
}
.playlist {
    position: relative;
    width: 428px;
    
    &.close {
        .closed-playlist {
            display: block; 
        }
        .opened-playlist {
            display: none;
        }
    }

    &.expand {
        #expand-recommended {
            display: none;
        }
        .videos--show-more {
            display: block;
        }
    }
    .closed-playlist {
        display: none;
    }
    .opened-playlist {
        .header {
            .flex:first-child img {
                width: 32px;
                margin-right: 8px;
            }
        }
    }
    .close-icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
        margin-left: 5px;
        fill: rgb( 136, 136, 136);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .title {
            font-weight: 600;
            
            span {
                position: relative;
                left: 3px;
                color: rgba(17, 17, 17, .4);
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
    .arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        background: white;
        border-radius: 50%;
        fill: rgba(17, 17, 17, .4);        
        width: 40px;
        height: 40px;
        transform: translate(50%, -50%);
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .4);
        z-index: 1;

        svg {
            width: 24px;
            height: 24px;
        }

        &.left {
            box-shadow: 0px -3px 5px 1px rgba(0, 0, 0, .4);        
            transform: translate(-50%, -50%) rotate(180deg);
            left: 0;
            opacity: 0;            
        }
    }
    .videos--show-more {
        display: none;
    }
    &.active {
        .videos {
            transform: translateX(-100%) !important;            
        }

        .arrow.left {
            transform: translate(-50%, -50%) rotate(180deg);
            left: 0;
            opacity: 1;
        }
        
        .arrow.right {
            opacity: 0;
        }   
    }
    .show-more {
        color: rgba(17, 17, 17, .4);
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        margin-top: 30px;
    }
    .videos {
        display: flex;
        max-width: 100%;
        transition: transform .5s linear;

        .video_container {
            margin: 0 2.5px;        
        }
        .video_container:first-child {
            margin-left: 0px;        
        }
        .video_container:last-child {
            margin-right: 0px;        
        }
    }
    .video_container {
        height: 205px;
        width: 210px;
        flex-shrink: 0;
    }
    i {
        color: rgba(17, 17, 17, .6); 
        cursor: pointer;       
    }
    i:hover {
        color: rgb(17, 17, 17);            
    }

    @media (min-width: 662px) {
        width: 642px;
    }

    @media (min-width: 886px) {
        width: 856px;
    }
    @media (min-width: 1090px) {
        width: 1070px;
    }
    @media (min-width: 1300px) {
        width: 1288px;
    }
}
.recommended {
    .videos {
        margin-bottom: 24px;
    }
}

.logo {
    cursor: pointer;
}

#headers {
    padding: 0 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    
    .small {
        display: none;
    }

    &.active {
        .header {
            display: none;
        }

        .small {
            display: flex;
        }
    }

    @media (min-width: 657px) {
        padding: 0 16px;
    }
}

/* HEADER */
.header {
    background: white;
    color: rgba(17, 17, 17, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    
    .left, .center, .right, .search-field {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left {
        .logo {
            height: 24px;
        }
        .bar-icon {
            font-size: 18px !important;
            margin-right: 16px;
            padding: 8px;
        }
    }
    .center {
        flex: 1;
        padding: 0 15px;
        margin: 0 40px;
        justify-content: flex-start;

        .search-field {
            width: 100%;
            max-width: 656px;
            position: relative;
            height: 32px;
            box-sizing: border-box;
            
            input {
                box-sizing: border-box;            
                width: 100%;
                padding: 6px;
                border-radius: 3px;
                border: solid thin rgba(17, 17, 17, .4);  
                outline: none;
                font-weight: 400;
                font-size: 16px;
            }
            .search-icon {
                box-sizing: border-box;            
                position: absolute;
                right: 0;
                background: rgb(248, 248, 248);
                border: solid thin rgba(17, 17, 17, .4);                         
                border-top: none;                
                border-bottom: none;                
                color: rgb(51, 51, 51);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 96%;
                width: 65px;
                padding: 1px 6px;
                font-size: 13.3333px;
            }
        }

        @media (max-width: 661px) {
            margin: 0;

            .search-field {
                display: none;
            }
        }
    }
    .right {
        font-size: 20px;
        width: 204px;
        justify-content: space-between;

        
        .yt-icon {
            cursor: pointer;
            fill: rgba(17, 17, 17, .4);
            height: 24px;
            width: 24px;
            // padding: 8px;
            display: flex;
            align-items: center;
        }

        .search-icon {
            display: none;
        }
        .profile-icon {
            padding: 10px 16px;  
            color: red;
            font-size: 14px;
        }

        @media (max-width: 661px) {
            & {
                .search-icon {
                    display: flex;
                }
            }
        }
    }
    &.small {

        #quit-search {
            margin-right: 8px;
        }
        .search-field {
            display: flex;
        }
        .center {
            padding: 0;
        }
    }
}
.subscribe-btn {
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    width: 151px;
    height: 37px;
}

.flex {
    display: flex !important;
    align-items: center;

    &.center {
        justify-content: center;
    }
}

.overflow {
    overflow: hidden;

    &.scroll {
        overflow: scroll;
    }
}

/* MENU */
#menu {
    background: #f5f5f5;
    min-width: $menuWidth;
    height: 100vh;

    main {
        overflow-y: scroll;
        flex-grow: 1;
        height: 100%;
    }
    section {
        border-bottom: solid thin rgba(17, 17, 17, .04);
        padding: 12px 0;
        
        &:first-child {
            padding-top: 0;
        }
    
        &:last-child {
            border-bottom: none;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        cursor: pointer;
        font-size: 14px;
        height: 40px;
        padding: 0px 24px;

        &:hover {
            background-color: rgba(0, 0, 0, .04);
        }
        
        &.active { 
            background: rgba(0, 0, 0, .04);
            
            .icon {
                fill: red;
            }
        }
    }

    .title {
        color: rgba(17, 17, 17, .6);
        font-size: 14px;
        padding: 8px 24px;
        margin: 0;
    }
    .logo {
        height: 24px;
    }
    .icon {
        color: rgba(17, 17, 17, .4);
        fill: rgba(17, 17, 17, .4);
        font-size: 18px !important;
        margin-right: 27px;
        height: 24px;
        width: 24px;

        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    footer {
        text-align: center;
    }

}

.bar-icon, #quit-search {
    color: rgba(17, 17, 17, .4);
    cursor: pointer;
    fill: rgba(17, 17, 17, .4);
    width: 24px;
    height: 24px;
    font-size: 18px !important;
    margin-right: 16px;
    padding: 8px;
}

#pusher {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    
    #menu {
        transform: translateX(-$menuWidth);
        transition: transform .2s linear;        
        z-index: 10;
        position: absolute;
        top: -$headerHeight;
        left: 0;

        .menu_header {
            height: $headerHeight;
            padding: 0 16px;
        }

        @media (min-width: 1293px) {
            transition: none;

            .menu_header {
                opacity: 0;
            }
        }
    }

    #main-content {
        width: 100%;
    }

    &.active {
        
        #menu {
            transform: translateX(0);
            position: fixed;
            left: 0;
            top: 0;
        }

        @media (max-width: 1292px) {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -$headerHeight;
                left: 0;
                background-color: rgba(0,0,0,.5);
                height: 5000px;
                width: 100%;
                z-index: 5;
            }
        }
        

        @media (min-width: 1293px) {
            #menu {
                position: relative;
                top: 0;
                transform: translateX(0);
                transition: none;

                .menu_header {
                    display: none !important;
                }
            }
            #main-content {
    
                .playlist {
                    width: 856px;
                }
            }
        }

        @media (min-width: 1390px) {
            #main-content .playlist {
                width: 1070px;
            }
        }

        @media (min-width: 1610px) {
            #main-content .playlist {
                width: 1288px;
            }
        }
    }
}

.closed-playlist {
    border: solid thin #a4c6fd;
    text-align: center;
    font-size: 14px;
    padding: 8px;

    .message {
        margin: 4px 0;
    }

    .undo {
        border: none;
        background-color: transparent;
        color: rgb(17, 17, 17);
        cursor: pointer;
        padding: 10px 16px;
    }
}


/* UTILITY CLASSES */
.img-responsive {
    max-width: 100%;
}

.circle {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}